@import "../node_modules/tinper-bee-core/scss/index.scss";
@import "../src/PageLayout.scss";
@import "../node_modules/bee-panel/src/Panel.scss";
@import "../node_modules/bee-layout/src/Layout.scss";
@import "../node_modules/bee-button/src/Button.scss";
@import "../node_modules/bee-transition/src/Transition.scss";
@import "../node_modules/bee-breadcrumb/src/Breadcrumb.scss";
@import "../node_modules/bee-navbar/src/Navbar.scss";
@import "../node_modules/bee-menus/src/Menu.scss";
@import "../node_modules/bee-dropdown/src/Dropdown.scss";
@import "../node_modules/bee-form-control/src/FormControl.scss";
@import "../node_modules/bee-tabs/src/Tabs.scss";

//demo1 

// demo2
#demo2 {
	background: whitesmoke;	
	padding-bottom: 30px;
}

#demo2 {
	.inner-container{
		display:flex;
		width: 80%;
		margin-left: 10%;
		background: #fff;
		padding-top: 10px;
	    margin-top: 30px;
	    padding-bottom: 10px;
	}
	.inner-menu{
		box-shadow: none;
	    border: none;
	    border-right: 1px solid #d9d9d9;
	    min-height: 400px;
	}
	.u-breadcrumb {
		background: none;
	}
	.u-breadcrumb .active {
	    color: #666;
	}
	.u-breadcrumb li {
	    color: #999;
	}
	.u-navbar {
		background:#E14C46;
		height: 72px;
	}
	.u-navbar-nav {
		min-width: 30%;
	    display: flex;
	    justify-content: space-around;
	}
	.u-navbar .u-navbar-brand {
		line-height: 40px;
	}
	.u-navbar .u-navbar-nav > li {
		opacity: 0.6;
	    font-size: 14px;
	    color: #FFFFFF;
	    line-height: 47px;
	}
	.u-navbar .u-navbar-nav > li.active {
		opacity: 1;
	}
	.u-menu-inline .u-menu-selected, .u-menu-inline .u-menu-inline .u-menu-item-selected {
		color: #E14C46;
	}
	.u-menu-submenu-selected {
	    background: none;
	}
	.u-menu-item-active, .u-menu-submenu-active > .u-menu-submenu-title {
		background-color: #fbb6bc;
	}
	.u-menu-inline .u-menu-selected, .u-menu-inline .u-menu-inline .u-menu-item-selected {
		border-color: #e14c46;
	}
	footer {
		display: flex;
	    justify-content: center;
	    padding-top: 20px;
	    font-size: 12px;
	    color: #999999;
	    line-height: 18px;
	}
	.icon-nav {
		width: 100%;
	    display: flex;
	    justify-content: flex-end;
	    a{
	    	color: #fff;
	    	margin-left: 20px;
	    	img {
	    		margin-right: 10px;
    			border-radius: 50%;
	    	}
	    }
	}
} 

#demo3{
	.inner-container{
	    border: 1px solid #d9d9d9;
	    border-top: none;
	    min-height: 400px;
	}
	.u-navbar {
		background: #fff;
		border-radius: 0;
	}
	.u-navbar-nav {
	    min-width: 30%;
	    display: flex;
	    justify-content: space-around;
	}
	.u-navbar .u-navbar-brand {
		line-height: 40px;
	}
	.u-navbar .u-navbar-nav > li {
		line-height: 47px;
	}
	.u-navbar .u-navbar-nav > li.active {
		color: #e14c46;
		border-bottom: 2px solid;
	}
	.icon-nav {
		width: 100%;
	    display: flex;
	    justify-content: flex-end;
	    a{
	    	margin-left: 20px;
	    	img {
	    		margin-right: 10px;
    			border-radius: 50%;
	    	}
	    }
	}
	.header-top {
	    border-bottom: none;
	    height: 36px;
	    line-height: 36px;
	    text-align: right;
	    background: #e14c46;
    	color: #fff;
    	padding-right: 40px;
    	a {
    		color: #fff;
    		opacity: 0.6;
			font-family: MicrosoftYaHei;
			font-size: 12px;
			letter-spacing: 0;
			line-height: 18px;

    	}
    	.part_1 {
    		margin-right: 20px;
    		margin-left: 10px;
    	}
    	.part_2 {
    		margin-left: 20px;
    		margin-right: 20px;
    	}
	}
}

#demo4 {
	.u-navbar {
		background:#E14C46;
		height: 56px;
		border: none;
    	border-radius: 0;
	}
	.u-navbar-nav {
		min-width: 30%;
	    display: flex;
	    justify-content: space-around;
	}
	.u-navbar .u-navbar-brand {
		line-height: 20px;
	}
	.u-navbar .u-navbar-nav > li {
		opacity: 0.6;
	    font-size: 14px;
	    color: #FFFFFF;
	    line-height: 30px;
	}
	.u-navbar .u-navbar-nav > li.active {
		opacity: 1;
	}
	.u-menu-inline .u-menu-selected, .u-menu-inline .u-menu-inline .u-menu-item-selected {
		color: #E14C46;
	}
	.u-menu-submenu-selected {
	    background: none;
	}
	.u-menu-item-active, .u-menu-submenu-active > .u-menu-submenu-title {
		background-color: #fbb6bc;
	}
	.u-menu-inline .u-menu-selected, .u-menu-inline .u-menu-inline .u-menu-item-selected {
		border-color: #e14c46;
	}
	.icon-nav {
		width: 100%;
	    display: flex;
	    justify-content: flex-end;
	    a{
	    	color: #fff;
	    	margin-left: 20px;
	    	img {
	    		margin-right: 10px;
    			border-radius: 50%;
	    	}
	    }
	}
	.inner-container{
		border: 1px solid #d9d9d9;
	    border-top: none;
	    min-height: 400px;
	}


	.u-navbar .u-navbar-nav > li.active:after{
        position: absolute;
	    border-left: 9px solid transparent;
	    border-right: 9px solid transparent;
	    border-bottom: 9px solid #fff;
	    content: " ";
	    display: block;
	    width: 0;
	    height: 0;
	    top: 51px;
	    left: 20px;
    }
	

}
.u-panel .u-panel-heading {
	padding: 0;
}
.horizontal-submenu  {
	display: flex;
	justify-content: center;
	margin-top: 17px;
}
.dropdown-menu.u-dropdown {
	left: 0 !important;
	width: 100%;
	margin-top: 68px;
}
.dropdown-menu {
	.u-dropdown-menu > .u-dropdown-menu-item {
		margin-top: 5px;
		border-bottom: 2px solid transparent;
		cursor: default;
		padding: 0 20px;

	}
	.u-dropdown-menu > .u-dropdown-menu-item:hover, .u-dropdown-menu > .u-dropdown-menu-item-active, .u-dropdown-menu > .u-dropdown-menu-item-selected {
		background: #fff;
		border-bottom-color: red;
		border-radius: 0;
	}
}


#demo5 {
	.u-navbar {
		height: 55px;
	    background: #fff;
	    border-color: #e9e9e9;
	}
	.sider-menu {
		margin-top: -55px;
	    z-index: 2;
	    position: relative;
	    width: 240px;
	}
	.logo-header {
		width: 240px;
	    text-align: center;
	    background: #E14C46;
	    height: 55px;
	    line-height: 55px;
	}
	.u-menu-sub {
    	background: rgba(74,81,93,0.60);
    	color: #FFFFFF;
	}
	.u-menu-sub .u-menu-submenu {
		color: #a6aab0;
	}
	.u-menu-sub .u-menu-item {
	}
	.u-menu-submenu-active,.u-menu-item-active {
		background: none;
		color: #fff;
	}
	.u-menu-inline .u-menu-selected, .u-menu-inline .u-menu-inline .u-menu-item-selected {
		color: #fff;
		opacity: 1;
		border: none;
	}
	.u-menu-submenu .u-menu-sub {
		background: none;
	}
	.u-menu-sub .u-menu-item-active {
		background: none;
	    opacity: 1;
	}
	.inner-container {
		width: 100%;
	    height: 100%;
	    background: whitesmoke;
	    padding-left: 30px;
	    padding-top: 20px;
	}
	.inner-content {
		width: 100%;
		height: 100%;
		min-height: 400px;
		min-width: 400px;
		background: #fff;
	}
	.content {
		display: flex;
	}
	.u-menu-inline {
		margin-top: 0;
	    border-top: 0;
	    border-radius: 0;
	}
	.u-menu .u-menu-sub.u-menu-inline {
		padding-left: 12px;
	}
	.u-menu-inline > .u-menu-submenu > .u-menu-submenu-title {
		background: none;
	}
	.wrapper-menu {
		min-height: 400px;
		background: #5e6670;
    	color: #fff;
	}
	.u-menu-inline > .u-menu-item{
		color: #a6aab0;
		cursor: pointer;
	}
	.u-menu-submenu-selected {
		background: none;
		color: #fff;
	}
	.icon-nav {
		width: 100%;
	    display: flex;
	    justify-content: flex-end;
	    a{
	    	margin-left: 20px;
	    	img {
	    		margin-right: 10px;
    			border-radius: 50%;
	    	}
	    }
	}
	.u-breadcrumb {
	    margin-bottom: 0;
	    margin-top: 0;
	    padding-top: 0;
	    padding-left: 0;
	}
}

#demo6 {
	.u-navbar-side-container {
		width: 70px;
	}
	.u-menu-vertical .u-menu-submenu-title:after {
		content: ""
	}
	.u-navbar-side-container {
		background: none;
	    border: none;
	    box-shadow: none;
	    z-index: 2;
	    position: relative;
	    margin-top: -1px;
	    float: left;
	}
	.u-navbar-side-container > .u-menu { 
		min-height: 435px;
	}
	.u-navbar-side-container .u-menu {
		color: #b3b7bc;
		background: #5E6670;
	    padding-top: 10px;
	    margin-top: 0;
	    border-radius: 0;
	   
	}
	.u-menu-vertical .u-menu-sub .u-menu-item {
		padding: 6px;
		text-align: center;
		cursor: default
	}
	.u-menu .u-menu-vertical.u-menu-sub {
		background: #4a515d !important;
		margin-left: 0;
	}
	.u-menu-submenu-vertical > .u-menu {
		min-width: 90px;
	}
	.u-menu-item-active, .u-menu-submenu-active > .u-menu-submenu-title {
		background: #4A515D;
		color: #fff;
	}
	
	.u-menu-vertical > .u-menu-submenu > .u-menu-submenu-title {
		padding-left: 5px;
	}
	.u-menu-item, .u-menu-submenu-title {
		font-size: 12px;
	}
	.first-menu {
		display: flex;
	}
	.u-container-fluid {
		padding-left: 0;
		margin-left: -1px;
	}
	.toggle-show {
		border: 1px solid #E14C46;
	    width: 70px;
	    border-radius: 0;
	    background: red;
	    height: 54px;
	    margin: 0;
	    padding: 0;
	    color: #fff;
	    display: inline-block;
	    text-align: center;
	    line-height: 54px
	}
	.wrapper-menu {
		min-height: 400px;
		background: #5e6670;
    	color: #fff;
	}
	.toggle-show .uf{
		font-size: 25px;
	}
	.inner-container {
		width: 100%;
	    height: 100%;
	    background: whitesmoke;
	    padding: 20px 30px 0;
	    padding-left: 100px;
	    transition:all .5s ease-in-out;
	}
	.inner-content {
		width: 100%;
		height: 100%;
		min-height: 400px;
		min-width: 400px;
		background: #fff;
	}
	.inner-content{
		> .u-menu {
			border:none;
			border-right: 1px solid #d9d9d9;
	    	border-radius: 0;
	    	box-shadow: none;
		}
		.u-menu-item {
		    font-size: 14px;
		    color: #666666;
		    padding-left: 30px !important;
		    border-right: 2px solid transparent;
		}
		.u-menu-item-active,.u-menu-item-selected {
			background: none;
			color: #E64A46;
			border-color: #E64A46;
		}
	} 
	.inner-container.expanded {
		padding-left: 30px;
	}
	.icon-nav {
		width: 100%;
	    display: flex;
	    justify-content: flex-end;
	    a{
	    	margin-left: 20px;
	    	img {
	    		margin-right: 10px;
    			border-radius: 50%;
	    	}
	    }
	}
}

#demo7 {
	.u-navbar-side-container {
		width: 70px;
	}
	.u-menu-vertical .u-menu-submenu-title:after {
		content: ""
	}
	.u-navbar-side-container {
		background: none;
	    border: none;
	    box-shadow: none;
	    z-index: 2;
	    position: relative;
	    margin-top: -1px;
	    float: left;
	}
	.u-navbar-side-container > .u-menu { 
		min-height: 435px;
	}
	.u-navbar-side-container .u-menu {
		color: #b3b7bc;
		background: #5E6670;
	    padding-top: 10px;
	    margin-top: 0;
	    border-radius: 0;
	   
	}
	.u-menu-vertical .u-menu-sub .u-menu-item {
		padding: 6px;
		text-align: center;
		cursor: default
	}
	.u-menu .u-menu-vertical.u-menu-sub {
		background: #4a515d !important;
		margin-left: 0;
	}
	.u-menu-submenu-vertical > .u-menu {
		min-width: 90px;
	}
	.u-menu-item-active, .u-menu-submenu-active > .u-menu-submenu-title {
		background: #4A515D;
		color: #fff;
	}
	
	.u-menu-vertical > .u-menu-submenu > .u-menu-submenu-title {
		padding-left: 5px;
	}
	.u-menu-item, .u-menu-submenu-title {
		font-size: 12px;
	}
	.first-menu {
		display: flex;
	}
	.u-container-fluid {
		padding-left: 0;
		margin-left: -1px;
	}
	.toggle-show {
		border: 1px solid #E14C46;
	    width: 70px;
	    border-radius: 0;
	    background: red;
	    height: 54px;
	    margin: 0;
	    padding: 0;
	    color: #fff;
	    display: inline-block;
	    text-align: center;
	    line-height: 54px
	}
	.wrapper-menu {
		min-height: 400px;
		background: #5e6670;
    	color: #fff;
	}
	.toggle-show .uf{
		font-size: 25px;
	}
	.inner-container {
		width: 100%;
	    height: 100%;
	    background: whitesmoke;
	    padding: 20px 30px 0;
	    padding-left: 100px;
	    transition:all .5s ease-in-out;
	}
	.inner-content {
		width: 100%;
		height: 100%;
		min-height: 400px;
		min-width: 400px;
		background: #fff;
	}
	.inner-content{
		> .u-menu {
			border:none;
			border-right: 1px solid #d9d9d9;
	    	border-radius: 0;
	    	box-shadow: none;
		}
		.u-menu-item {
		    font-size: 14px;
		    color: #666666;
		    padding-left: 30px !important;
		    border-right: 2px solid transparent;
		}
		.u-menu-item-active,.u-menu-item-selected {
			background: none;
			color: #E64A46;
			border-color: #E64A46;
		}
	} 
	.inner-container.expanded {
		padding-left: 30px;
	}
	.icon-nav {
		width: 100%;
	    display: flex;
	    justify-content: flex-end;
	    a{
	    	margin-left: 20px;
	    	img {
	    		margin-right: 10px;
    			border-radius: 50%;
	    	}
	    }
	}

	.sub-inline .u-menu-sub {
		width: 200px;
	}
	.sub-inline .u-menu-sub .u-menu-item {
		width: 60px;
    	float: left;
	}
}
#demo8 {
	.u-navbar {
		background: #E14C46;
	}
	.u-navbar .u-navbar-nav > li > a {
		color: #fff;
	}
	.u-navbar-side-container {
		width: 70px;
	}
	.u-menu-vertical .u-menu-submenu-title:after {
		content: ""
	}
	.u-navbar-side-container {
		background: none;
	    border: none;
	    box-shadow: none;
	    z-index: 2;
	    position: relative;
	    margin-top: -1px;
	    float: left;
	}
	.u-navbar-side-container > .u-menu { 
		min-height: 435px;
		width: 70px;
	}
	.u-navbar-side-container .u-menu {
		color: #b3b7bc;
		background: #5E6670;
	    padding-top: 10px;
	    margin-top: 0;
	    border-radius: 0;
	   
	}
	.u-menu-vertical .u-menu-sub .u-menu-item {
		padding: 6px;
		text-align: center;
		cursor: default
	}
	.u-menu .u-menu-vertical.u-menu-sub {
		background: #4a515d !important;
		margin-left: 0;
	}
	.u-menu-submenu-vertical > .u-menu {
		min-width: 90px;
	}
	.u-menu-item-active, .u-menu-submenu-active > .u-menu-submenu-title {
		background: #4A515D;
		color: #fff;
	}
	
	.u-menu-vertical > .u-menu-submenu > .u-menu-submenu-title {
		padding-left: 5px;
	}
	.u-menu-item, .u-menu-submenu-title {
		font-size: 12px;
	}
	.first-menu {
		display: flex;
	}
	.u-container-fluid {
		padding-left: 0;
		margin-left: -1px;
	}
	.toggle-show {
		border: 1px solid #E14C46;
	    width: 70px;
	    border-radius: 0;
	    background: red;
	    height: 54px;
	    margin: 0;
	    padding: 0;
	    color: #fff;
	    display: inline-block;
	    text-align: center;
	    line-height: 54px;
	    float:left;
	}
	.u-navbar .u-navbar-nav-tab {
		width: 80%;
	}
	.wrapper-menu {
		min-height: 400px;
		background: #5e6670;
    	color: #fff;
	}
	.toggle-show .uf{
		font-size: 25px;
	}
	.inner-container {
		width: 100%;
	    height: 100%;
	    padding: 0 20px 30px 0;
	    padding-left: 100px;
	    min-height: 400px;
	    transition:all .5s ease-in-out;
	}
	.inner-content {
		width: 100%;
		height: 100%;
		min-height: 400px;
		min-width: 400px;
		background: #fff;
	}
	.inner-content{
		> .u-menu {
			border:none;
			border-right: 1px solid #d9d9d9;
	    	border-radius: 0;
	    	box-shadow: none;
		}
		.u-menu-item {
		    font-size: 14px;
		    color: #666666;
		    padding-left: 30px !important;
		    border-right: 2px solid transparent;
		}
		.u-menu-item-active,.u-menu-item-selected {
			background: none;
			color: #E64A46;
			border-color: #E64A46;
		}
	} 
	.inner-container.expanded {
		padding-left: 30px;
	}
	.icon-nav {
		width: 100%;
	    display: flex;
	    justify-content: flex-end;
	    a{
	    	margin-left: 20px;
	    	img {
	    		margin-right: 10px;
    			border-radius: 50%;
	    	}
	    }
	}

	.sub-inline .u-menu-sub {
		width: 200px;
	}
	.sub-inline .u-menu-sub .u-menu-item {
		width: 60px;
    	float: left;
	}
	.u-tabs-trapezoid {
		border: none;
	}
	.u-tabs-trapezoid .u-tabs-nav .u-tabs-tab::before {	
		border-right: rgb(224, 224, 224) 15px solid;
	    border-left: rgb(224, 224, 224) 15px solid;
	    border-top-left-radius: 50px;
	    border-top-right-radius: 50px;
	    border-bottom-color: #e0e0e0;
	}
	.u-tabs-trapezoid .u-tabs-nav .u-tabs-tab-active::after {
	    border-left: #e14c46 15px solid;
	    background-color: #e14c46;
	    border-right-color: #e14c46;
	    transform: perspective(900px) rotate3d(-1, 0, 0, -90deg);
	}
	.u-tabs-trapezoid .u-tabs-nav .u-tabs-tab-active::before {
	    border-bottom-color: #fff;
	    transition: none;
	    border-right-color: #fff;
		border-left-color: #fff;
	}
	.u-tabs-nav {
		display: flex;
    	justify-content: space-between;
	}
	.u-tabs-trapezoid .u-tabs-nav .u-tabs-tab {
		width: 100%;
		color: #757070;
		min-width: 150px;
	}
	.title-wrapper {
	    display: flex;
   		justify-content: space-between;
	}
	.title-wrapper .uf{
	font-size: 10px;
	}
	.inner-container .u-tabs-bar {
		display: none;
	}
	.u-navbar-nav-tab .u-tabs-trapezoid {
		margin-top: 17px;
		border: none;
	}
	.u-tabs-trapezoid .u-tabs-nav .u-tabs-tab-active {
		color: #757070;
	}
	.u-tabs-trapezoid .u-tabs-bar, .u-tabs-trapezoid .u-tabs-nav-container {
		background: #e14c46;
	}
}